//- 
  Bendy (Game)
  Grant Jenkins, July 2022
  
  Submitted for the Dominoes & Dice codepen challenge
  Not exactly Dominoes, but similar effect ;)
  #codepenchallenge,  #cpc-dominoes-dice

  Click to grow bendy to the correct length then let go to let him fall
  Land on the portals to progress to the next level
  There are 100 levels in total (progressively harder as you go)
  If you wish to save your progress, copy the save code (able to generate when you complete a level). Then when you wish to play again you can just paste the code onto line 5 in the JavaScript (JS) section.
  
  Based off the game Bend! on the App Store

.heading
  h1#title BENDY
  p#message
  p#saveCode
canvas#canvas
script(src="https://cdn.jsdelivr.net/processing.js/1.4.8/processing.min.js")